.featureCard {
  display: flex;
  flex-direction: column;
  padding: var(--space-24);
  width: 100%;
  font-family: var(--font-family-body);
  background-color: var(--gray-1);
  border-radius: 15px;
}

.overline {
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--gray-10);
}

.client {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-top: var(--space-8);
}

.projectName {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  color: var(--blue-9);
  margin-top: var(--space-8);
}
