# Local
.DS_Store
*.local
*.log*
.env
.env.local
.env.development
.env.production
.icloud/
.htaccess

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# IDE
.vscode/*
!.vscode/extensions.json
.idea
