.introSection {
    margin: 0 auto;
    background-color: var(--gray-1);
    padding-block-start: var(--space-40);
    padding-block-end: var(--space-40);
  }
  
  .toolsSection {
    margin: 0 auto;
    background-color: var(--gray-1);
    padding-block-start: var(--space-0);
    padding-block-end: var(--space-48);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  
    h1 {
      text-align: center;
      margin-block-start: var(--space-0);
      margin-block-end: var(--space-24);
    }
  }
  
  .expertiseGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-24);
  }
  
  .toolsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-24);
  }
  
  @media (max-width: 768px) {
    .container {
      margin-inline: var(--space-24);
    }
  
    .expertiseGrid,
    .toolsGrid {
      grid-template-columns: 1fr;
    }
  }
  