.sectionDivider {
  display: flex;
  align-items: center;
  background-color: var(--gray-3);
  padding-inline: var(--space-24);
  padding-block: var(--space-16);
  margin-block: var(--space-24);
  border-radius: var(--border-radius-default);
}

.sectionTitle {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--gray-12);
}
