.divider {
  border: 0;
  border-top: 1px solid var(--gray-6);
  width: 100%;
}

.small {
  margin: var(--space-16) 0;
}

.medium {
  margin: var(--space-24) 0;
}

.large {
  margin: var(--space-32) 0;
} 