.imageWrapper {
  width: 30%;
}

.featuredImage {
  width: 100%;
  min-width: 320px;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

@media (max-width: 768px) {
  .imageWrapper {
    width: 100%;
    max-width: 500px;
    margin: var(--space-24) auto;
  }
} 