.switchRoot {
  all: unset;
  width: 42px;
  height: 25px;
  background-color: var(--blue-8);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  
  &:focus {
    box-shadow: 0 0 0 2px var(--blue-8);
  }
  
  &[data-state='checked'] {
    background-color: var(--blue-8);
  }
}

.switchThumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(2px);
  will-change: transform;
  color: var(--blue-9);
  font-size: 16px;
  
  &[data-state='checked'] {
    transform: translateX(19px);
    color: var(--blue-9);
  }
}
